$font-family-body: "Quando";
$font-family-heading: "Josefin Sans", sans-serif;

$body-color: #787878;
$a-color: #111111;
$a-hover-color: #999999;

$post-a-color: #324360;
$post-a-hover-color: #35c4ce;

$footer-color: #989898;
$footer-hover-color: #111111;
$footer-background: #eaf2ff;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin heading($size) {
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: $font-family-heading;
  font-weight: 400;
  line-height: 1.3em;
  word-wrap: break-word;
  color: $a-color;
  font-size: $size;
}

body {
  font-family: $font-family-body;
  font-size: 15px;
  color: $body-color;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 25px;
  line-height: 1.6em;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: $a-color;
  transition: 0.2s;

  &:hover {
    color: $a-hover-color;
    text-decoration: none;
  }
}

h1 {
  @include heading(37px);
}
h2 {
  @include heading(31px);
}
h3 {
  @include heading(26px);
}
h4 {
  @include heading(21px);
}
h5 {
  @include heading(18px);
}
h6 {
  @include heading(15px);
}

.container {
  width: 94%;
  margin: 0 auto;
}

header {
  font-family: $font-family-heading;

  nav {
    ul {
      display: none;
    }

    a {
      font-family: $font-family-heading;
      color: $post-a-color;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 900;
      text-decoration: none;

      &:hover {
        color: $post-a-hover-color;
        text-decoration: none;
      }
    }

    li {
      &.menu-item-has-children > a::after {
        margin-left: 7px;
        font-family: "FontAwesome";
        font-size: 13px;
        color: $post-a-color;
        content: "\f078";
      }
    }

    .current-menu-item a {
      border-bottom: 2px solid $post-a-color;
    }
  }
}

.top-logo {
  width: 200px;
  margin: 20px auto 40px;
}

article {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;

  .image-part {
    margin-bottom: 10px;
  }

  .content-part {
    padding-left: 0;
  }

  .post-title {
    margin-top: 0;

    a {
      color: $post-a-color;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 900;
      margin: 15px 0;
      line-height: 1.3em;
      transition: all 0.3s ease;

      &:hover {
        color: $post-a-hover-color;
        text-decoration: none;
      }
    }
  }
}

#footer {
  a {
    color: $footer-color;
    text-decoration: none;

    &:hover {
      color: $footer-hover-color;
      text-decoration: none;
    }
  }
}

footer {
  padding: 30px 0;
  text-align: center;
  background: $footer-background;

  .footer-logo {
    width: 200px;
    margin: 20px auto;
    text-align: center;
    vertical-align: middle;
  }

  .footer-social-links {
    padding: 20px 0;
    line-height: 2em;

    a {
      margin: 0 10px;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;

      i {
        margin-right: 0;
      }

      span {
        display: none;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  #footer-copyright {
    padding: 20px 0;
    font-size: 12px;
    color: $footer-color;
  }
}

@media only screen and (min-width: 650px) {
  .container {
    width: 90%;
  }

  header {
    nav {
      max-width: 1170px;
      margin: 0 auto;
      height: 60px;
      @include flex-center;

      ul {
        display: flex;

        li {
          margin: 0 15px;
          position: relative;
          line-height: 24px;

          &:hover > ul {
            visibility: visible;
            opacity: 1;
          }

          ul {
            visibility: hidden;
            opacity: 0;
            display: block;
            position: absolute;
            z-index: 9999;
            left: 0;
            background: #f0f0f0;
            transition: all 0.2s ease-out;

            li {
              border-top: 1px solid #e9e9e9;
              margin: 0;

              a {
                display: block;
                color: $a-color;
                min-width: 175px;
                margin: 0;
                padding: 20px 10px;
                line-height: 1.4em;
                letter-spacing: 1px;
                transition: 0.35s;

                &:hover {
                  background: #ffffff;
                  color: #000;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }

  article {
    .image-part {
      flex: 1;
      overflow: hidden;
      margin-bottom: 0;

      img {
        transition: transform 3.5s ease-in-out;

        &:hover {
          transform: scale(1.5);
        }
      }
    }

    .content-part {
      flex: 1;
      padding-left: 50px;
    }
  }

  footer {
    .footer-social-links {
      a {
        margin: 0 28px;

        span {
          display: inline;
          font-size: 11px;
        }

        i {
          margin-right: 5px;
        }
      }
    }
  }
}
